*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:gilroy;
}
html,body{
    height:100%;
    width:100%;
    
}

body{
    /* background-color: #000; */
}

main{
   width:100%;

}

main section{
width:100%;
padding:var(--padding-xxl);
}